div {
    background-color: rgb(66, 64, 64);
    color: white;
    padding: .5rem;
    margin: 0rem;
    display: inline-flex;
    border-radius: .3rem;
    /* display:inline; */

}

.red {
    color: red;
}

#bg-green {
    background-color: green;
}

div>article>p {
    background-color: rgb(177, 42, 125);
    color: rgb(179, 223, 23);
}

* {
    padding-top: .1rem;
    margin:0px;
}